:root{
    --light: #293F6D;
    --dark: #182848;
    --bg: linear-gradient(90deg,#dbf4ff,#2f5cff);
}

#img{
    height: 25rem;
    width: 100%;
}

#logo{
    text-shadow: 3px 3px 5px whitesmoke
}

.search-box{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px whitesmoke;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} 
.search-box.active{
    width: 300px;
}
.search-box input{  
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background: #fff;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active{  
    opacity: 1;
}
.search-box .search-icon{  
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    background: whitesmoke;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: var(--dark);
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active{  
    right: 5px;
    height: 45px;
    line-height: 50px;
    width: 45px;
    font-size: 20px;
    background: var(--dark);
    color: whitesmoke;
    transform: translateY(-50%) rotate(360deg);
} 
.search-box .cancel-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} 
.search-box .cancel-icon.active{  
    right: -40px;
    transform: translateY(-50%) rotate(360deg);  
}

.card{
    width: 20rem!important;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 10px var(--dark);
}

.card-body{
    height: 15rem;
    background: linear-gradient(45deg,#dbf4ff,#2f5cff);
}

#imdb{
    top: 0;
    left: 0; 
    position: absolute;
}

.card-body h1.high{
    background-color: green;
    box-shadow: 5px 5px 10px green;
}

.card-body h1.medium{
    background-color: orange;
    box-shadow: 5px 5px 10px orange;
}

.card-body h1.low{
    background-color: red;
    box-shadow: 5px 5px 10px red;
}

.card-title{
    border-bottom: 1px solid var(--dark);
}

.overview{
    background-color: var(--dark);
    color: whitesmoke;
    padding: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.5s ease-in;
}

.overview h3{
margin-bottom: 0.5rem;
border-bottom: 2px solid whitesmoke;
width: 100%;
}

.card:hover .overview{
transform: translateY(0);
}

@media only screen and (max-width: 768px) {
    #nav-container{
        flex-direction: column;
    }
    form{
        margin: 1rem 0;
    }
    .search-box.active{
        width: 250px;
    }
    .search-box .cancel-icon.active{  
        right: -30px; 
    }
}